@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

div#texto9, div#texto10, div#texto11, div#texto12, div#texto13{
    width: 780px;
    height: auto;
    position: relative;
    left: 215px;
    margin: 35px;
    font-family: "Julius Sans One";
    text-align: justify;
    font-size: 15pt;

}

section#corpo p{
    font-family: "Julius Sans One";
    cursor:  pointer;
    font-size: 14pt;

}

footer {
    margin-top: 100px;
}